@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    if (Model.HTTPStatusCode!=null) this.Context.Response.StatusCode=Model.HTTPStatusCode.Value;
    Layout = "";
}

<html>
 <head>
     <title>Error</title>
 </head>
 <body>
    <h1>HTTP Error @Model.HTTPStatusCode</h1>
    <p>@Model.Message</p>
 </body>
</html>


