@{
    ViewData["Title"] = "Home";
}

<div class="homeDescription">

  <div>
    <h2>
Picture Management System
    </h2>
      &nbsp;
      World's most safest, unhackable picture management system!      
  </div>

</div>
